@*@page "/blog"*@
@inject HttpClient HttpClient
@inject CosmicService CosmicService

<div id="journal-blog" class="text-left  paddsections">
    @*<div class="container">
        <div class="section-title text-center">
            <h2>journal</h2>
        </div>
    </div>*@
    <div class="container">
        <div class="journal-block">
            <div class="row">
                @if (postResponse == null)
                {
                    <div class="spinner"></div>
                }
                else
                {
                    foreach (var post in postResponse.Posts)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="journal-info mb-30">
                                <NavLink href="@($"blog/{post.Slug}")"><img src="@(post.Thumbnail)" class="img-responsive" alt="img"></NavLink>
                                <div class="journal-txt">
                                    <h4><NavLink href="@($"blog/{post.Slug}")">@post.Title</NavLink></h4>
                                    <p class="separator">
                                        @post.Excerpt
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@code {
    PostResponse postResponse = null;

    protected override async Task OnInitializedAsync()
    {
        postResponse = await CosmicService.GetPosts();
    }

}