@*@page "/blog/{slug}"*@

@inject CosmicService CosmicService

@if (notFound)
{
    <_404 />
}
else
{
    <div class="main-content paddsection">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        @if (post == null)
                        {
                            <div class="spinner"></div>
                        }
                        else
                        {
                            <div class="container-main single-main">
                                <div class="col-md-12">
                                    <div class="block-main mb-30">
                                        <img src="@(post.Thumbnail)" class="img-responsive" style="width:100%;" alt="reviews2">
                                        <div class="content-main single-post padDiv">
                                            <div class="journal-txt">
                                                <h2>@post.Title</h2>
                                            </div>
                                            <div class="post-meta">
                                                <ul class="list-unstyled mb-0">
                                                    <li>date: @post.Date.ToString("MMMM d, yyyy")</li>
                                                    @*@if (Post.Comments != null)
                                                        {
                                                            <li class="commont"><i class="ion-ios-heart-outline"></i>@Post.Comments?.Count() Comments</li>
                                                        }*@
                                                    <li>category: @post.Metadata.Category</li>
                                                    @if (!string.IsNullOrEmpty(post.Metadata.Tags))
                                                    {
                                                        <li>tags: @post.Metadata.Tags</li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="text-justify">
                                                @((MarkupString)post.Content)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ShareThisPlugins />
                                @*@if (Post.Comments != null)
                                    {
                                        <div class="col-md-12">
                                            <div class="comments text-left padDiv mb-30">
                                                @foreach (var comment in Post.Comments)
                                                {
                                                    <CommentItem />
                                                }
                                            </div>
                                        </div>
                                    }*@

                                @*<div class="col-lg-12">
                                        <div class="cmt padDiv">
                                            <CommentForm />
                                        </div>
                                    </div>*@
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code{
    [Parameter] public string Slug { get; set; }

    Post post = null;
    bool notFound = false;

    protected override async Task OnInitializedAsync() =>
        (post, notFound) = await CosmicService.GetPostBySlug(Slug);

}